/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"); */

html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.navActive {
  color: #f9665e;
}

.color-red {
  color: #f9665e;
}

.bg-red {
  background-color: #f9665e;
}

.border-corner {
  border-top-right-radius: 1.6rem;
}

.extra-rounded {
  border-radius: 1.8rem;
}

.project {
  width: 60%;
  height: auto;
}

.footer {
  width: 100%;
  height: 40px;
  /* Set the fixed height of the footer here */
  line-height: 40px;
  /* Vertically center the text there */
}
